fastapi>=0.110
pydantic>=2.0
pydantic-settings>=2.0
fastapi-csrf-protect>=0.3.3
python-multipart>=0.0.9
uvicorn[standard]>=0.27
sqlmodel>=0.0.16
sqlalchemy>=2.0
jinja2>=3.1
netmiko>=4.3
cryptography>=41
python-dotenv>=1.0
psycopg2-binary>=2.9
apscheduler>=3.10
boto3>=1.34.0
alembic>=1.13
pytest>=8.0
celery>=5.4
redis>=5.0
eventlet>=0.35.2
